{{!-- Footer and Navbar must be included in this layout --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Appointment System</title>
     <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<header>
    This is the header
</header>
{{{body}}}
<footer>This is the footer</footer>
</body>
</html>