{{!-- Footer and Navbar must be included in this layout --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Appointment System</title>
     <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
<header>
    <header>
        <div class="topnav">
            <img src="https://as1.ftcdn.net/v2/jpg/03/27/74/04/1000_F_327740445_NGTO6Lc4du5WOvTwHERCQmvYDw4bbeuo.jpg" class="logo" alt="" />
            <a href="/feed">Home</a>
            <a href="/posts/add">Book Appointment</a>
            <a href="/recipes/addRecipe">Review</a>
        </div>
</header>
{{{body}}}
<footer>This is the footer</footer>
</body>
</html>