 <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../public/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{{title}}</title>
</head>

<body>
    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Doctor Appointment Booking</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto justify-content-center align-items-center menu">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                </ul>
            </div>
             <ul class="navbar-nav mr-auto float-right">
              {{#if loggedIn}}
  <li class="logout">
                         <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#logout">
                        <a href="/users/logout">Logout</a>
                        </button>
                    </li>
{{else}}
 
                    <li class="nav-item">
                        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#LoginSignup">
                        Login/Sign Up
                        </button>
                    </li>
{{/if}}
                    
                   
                    
                </ul>
        </nav>
    </header>
    <main>
        <div>
              {{{body}}}
        </div>
        
    </main>
   <footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(54, 64, 146, 0.521);">
    © 2022 Copyright:
  </div>
  <!-- Copyright -->
</footer>
<div id="LoginSignup" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login/SignUp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><a class="link-primary" href="/users/login">Looking for a doctor? Click here</a></p>
        <p><a class="link-primary"  href="/doctors">Are you a doctor? Click here</a></p> 
      </div>
    
    </div>
  </div>
</div>
    <script src="../../public/js/jquery.min.js" crossorigin="anonymous"></script>
    <script src="../../public/js/bootstrap.min.js" crossorigin="anonymous"></script>

</body>

</html>