<h2>review</h2>
<label for="review-form"></label>
<br>
<form action="/reviews" method="POST">
<textarea name="review-form" id="review-form" cols="30" rows="10"></textarea>
    <button class="button-80" role="button" type="submit">Submit</button>
    <select class="selectpicker" data-live-search="true">
        <p>Choose your rating</p>
    <option data-tokens="token5">5</option>
    <option data-tokens="token4">4</option>
    <option data-tokens="token3">3</option>
    <option data-tokens="token2">2</option>
    <option data-tokens="token1">1</option>
</select>

</form>
<br>


