.navbar-light .navbar-brand {
  padding-right: 30px;
  border-right: 1px solid #ddd;
}
.navbar-light .navbar-brand:hover{
  color: #09e5ab;

}
.navbar .nav-item
{
  font-weight:bold;
}
.navbar .nav-item .nav-link:hover
{
  color: #09e5ab;
}
.navbar .nav-item.active .nav-link
{
  color: #09e5ab;
}
main
{
  min-height: 600px;
}
.btn-outline-primary
{
  color: #09e5ab;
  border-color: #09e5ab;
}
.link-primary,.link-primary:hover
{
  color: #09e5ab;
}
.btn-outline-primary:hover
{
  background-color: #09e5ab;
  border-color: #09e5ab;

}
.footer
{
  margin-top: 20px;
}