.navbar-light .navbar-brand {
  padding-right: 30px;
  border-right: 1px solid #ddd;
}
.navbar-light .navbar-brand:hover{
  color: #09e5ab;

}
.navbar .nav-item
{
  font-weight:bold;
}
.navbar .nav-item .nav-link:hover
{
  color: #09e5ab;
}
.navbar .nav-item.active .nav-link
{
  color: #09e5ab;
}
main
{
  min-height: 600px;
}
.btn-outline-primary
{
  color: #09e5ab;
  border-color: #09e5ab;
}
.link-primary,.link-primary:hover
{
  color: #09e5ab;
}
.btn-outline-primary:hover
{
  background-color: #09e5ab;
  border-color: #09e5ab;

}
.footer
{
  margin-top: 20px;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}

.card > .header {
  margin-bottom: .25rem;
}

.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}
.right{
  width: 30%;
  display: flex;
  flex-direction: column;
}
.left{
  width: 70%;
}
.container
{
  width: 100%;
  display: flex;
}