.navbar-light .navbar-brand {
  padding-right: 30px;
  border-right: 1px solid #ddd;
}
.navbar-light .navbar-brand:hover{
  color: rgba(6, 163, 218, .7);;

}
.navbar .nav-item
{
  font-weight:bold;
}
.navbar .nav-item .nav-link:hover
{
  color: rgba(6, 163, 218, .7);;
}
.navbar .nav-item.active .nav-link
{
  color: rgba(6, 163, 218, .7);;
}
main
{
  min-height: 600px;
}
.btn-outline-primary
{
  color: rgba(6, 163, 218, .7);;
  border-color: rgba(6, 163, 218, .7);;
}
.link-primary,.link-primary:hover
{
  color: rgba(6, 163, 218, .7);;
}
.btn-outline-primary:hover
{
  background-color: rgba(6, 163, 218, .7);;
  border-color: rgba(6, 163, 218, .7);;

}
.footer
{
  margin-top: 20px;
}
.search-wrapper {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

input {
  font-size: 1rem;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: .25rem;
  margin-top: 1rem;
}

.card {
  border: 1px solid black;
  background-color: white;
  padding: .5rem;
}

/* CSS */
.card > .button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 2px;
  outline: none;
  padding: 4px;

  text-align: center;
  text-decoration: none;

}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}
.card > .header {
  margin-bottom: .25rem;
}



.card > .body {
  font-size: .8rem;
  color: #777;
}

.hide {
  display: none;
}
.right{
  width: 30%;
  display: flex;
  flex-direction: column;
}
.left{
  width: 70%;
}
.container
{
  width: 100%;
  display: flex;
}

/* login */

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}


