<div class="container">
    <div class="left-bar">
<div id="menu">
  <ul>
    <li><a href="/doctors/profile">My Profile</a></li>
    <li><a href="/doctors/rescheduleRequest">Reschedule Requests</a></li>
    <li><a href="/doctors/myAppointments">Upcoming Appointments</a></li>
  </ul>
</div>


    </div>
    <div class="right">
<div>
    <b>Welcome doctor. This is your home page</b>
</div>


    </div>
</div>


