<div>
    <b>Welcome doctor. This is your home page</b>
</div>
<button><a href="/doctors/profile">My Profile</a></button>
<a href="/doctors/rescheduleRequest">Reschedule Requests</a>
<a href="/doctors/myAppointments">Upcoming Appointments</a>
