<form method="post" action="/users/book-appointment"  class="date-form">
    <div>
<label for="date">Select date</label>
<input type="date" id="date" name="date"
       value={{{today}}}
       min={{{today}}} max={{{lastDate}}}>
<button id="slot-check-button" type="submit">Look for available slots</button>

</div>

</form>
