<div>
    <b>Hey user! You have these appointments scheduled</b>
</div>
<div>
    You're appointment is on <b>{{date}}</b> at <b>{{timeSlot}}</b>
</div>
<form method="POST" action="/users/my-appointments">
    <div>
        
   <button type="submit">Cancel this appointment</button> 
</div>
</form>
<div>
    <a href="">Request for a reschedule</a>
</div>