<div class="container">
    <div class="left">
    <div class="pt-4">
        <h6 for="search">Search Doctor</h6>
        <input type="search" id="search" data-search>
        <div>
        <div class="user-cards" data-user-cards-container></div>
        <template data-user-template>
        <form action="/users/book-appointment" method="POST">
        <div class="card">
        <div class="header" name="dataheader" data-header></div>
        <div class="body" data-body></div>
        <input type="hidden" name="hidden" hidden>
        <button type="submit" data-appointment></button>
        <div class="button" data-reviews></div>
        </div>
     </form>
    </template>
    </div>

</div>
</div>


    {{!-- <a href="/users/book-appointment">click here to book appointment</a> --}}
<div class="card mt-3" style="width: 15rem;">
  <img class="card-img-top" src="/public/images/app-2.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">My Appointment</h5>
    <a href="/users/my-appointments" class="btn btn-primary">My Appointment</a>
  </div>
</div>
    {{!-- <button class="mt-2">
        <a href="/users/my-appointments">My appointments</a>
    </button> --}}
<div class="card mt-3" style="width: 15rem;">
  <img class="card-img-top" src="/public/images/app-3.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Profile</h5>
    <a href="/users/profile" class="btn btn-primary">My profile</a>
  </div>
</div>
    {{!-- <button class="mt-2">
    <a href="/users/profile">My profile</a>
    </button> --}}
</div>
</div>


   <div id="gradient"></div>

<script src="/public/js/main.js">


</script>