<div>
    <b>Welcome User. This is your home page</b>
</div>
<div>
    <a href="/users/book-appointment">click here to book appointment</a>
</div>
<div>
    <a href="/users/my-appointments">My appointments</a>
</div>
<div>
    <a href="/users/profile">My profile</a>
</div>